*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: black;
}

h1{
    text-align: center;
}

html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 50px;
    background-color: rgb(143, 210, 255);
    padding: 20px 0;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(19, 34, 168);
}

#page2 h1{
    font-size: 40vw;
    text-transform: uppercase;
}